@font-face {
    font-family: "LoveStory";
    src: url("../fonts/Love\ Story\ Rough.ttf");
  }

  @font-face {
    font-family: "Microsoft";
    src: url("../fonts/ntailu.ttf");
  }

  .dashboard{
      background-color: rgb(95, 64, 95);
      width: 100%;
      margin-top: -40px;

  }

  .tasks{
      background-color: white;
      border-radius: 10px;
      width: 95%;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      position: static;
      padding-bottom: 42px;
  }

  .tasksTitle{
      font-family: "LoveStory";
      text-align: center;
      color:white;
      font-size: 3em;
      padding-top: 90px;
      letter-spacing: 3px;
  }

  .taskGroup{
      padding-top: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
  }

  .task{
    width: 190px;
    height: 335px;
    margin-left: 65px;
    box-shadow: 1px 4px 20px 2px rgb(95, 64, 95);
    border-radius: 10px;
  }

  .taskName{
    /* font-family: "LoveStory"; */
    font-size: 1.4em;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 15px;
    color: rgb(158 108 158);
  }

  .taskImg{
      width: 90px;
      margin-left: 50px;
  }

  .taskPriority{
    text-align: center;
    background-color: rgb(95, 64, 95);
    color: white;
    margin: 15px auto;
    width: 100px;
    font-size: 1.3em;
    border-radius: 10px;
  }

.taskDate{
    text-align: center;
    font-family: "Microsoft";
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonEditDelete{
    background-color: rgb(95, 64, 95);
    color: white;
    width: 50px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 18px;
    padding-top: 5px;
}

.buttonEditDelete:hover{
    background-color: rgb(158, 117, 158);
    cursor: pointer;
}

.newTaskForm{
    width: 195px;
    height: 380px;
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    box-shadow: 1px 4px 20px 2px rgb(95, 64, 95);
    border-radius: 10px;
}

.newTaskTitle{
    /* font-family: "LoveStory"; */
    font-size: 1.7em;
    text-align: center;
    padding-top: 10px;
    color: rgb(158 108 158);
}

.newTaskLabel{
    color: rgb(158 108 158);
    font-weight: bold;
    /* font-family: "Microsoft"; */
    font-size: 1em;
    margin-left: 6px;
}

.inputNewTask{
    width: 150px;
    height: 20px;
    border-radius: 10px;
    margin-left: 6px;
    margin-bottom: 10px;
    margin-top: 8px;
}

.typePriority{
    width: 150px;
    margin-bottom: 10px;
    margin-left: 6px;
    margin-top: 8px;
    border-radius: 10px;
}

.buttonNewTask{
    background-color: rgb(95, 64, 95);
    color: white;
    width: 67px;
    height: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 5px;
    border: none;
}

.buttonNewTask:hover{
    background-color: rgb(158, 117, 158);
    cursor: pointer;
}

/*Modal*/

.modalHeader{
    background-color:rgb(95, 64, 95);
}

.modalTitle {
    color: white;
    font-family: "LoveStory";
    font-size: 1.8em;
  }

  .btn-close {
    margin: -3.5rem 0.6rem 0.88rem 436px !important;
    width: 16px !important;
    background-color: rgb(158, 117, 158);
    color: white;
    border: none;
    border-radius: 10px;
  }

  .btn-close:hover {
    background-color: #8461a8;
  }

  .btn-yes {
    background-color: rgb(158, 117, 158);
    color: white;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 30px;
  }
  
  .btn-yes:hover {
    background-color: #8461a8;
  }
  
  .btn-done {
    background-color: rgb(158, 117, 158);
    color: white;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 30px;
  }
  
  .btn-done:hover {
    background-color: #8461a8;
  }
  
  .btn-no {
    background-color: rgb(158, 117, 158);
    color: white;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 30px;
  }
  
  .btn-no:hover {
    background-color: #8461a8;
  }
  
  .btn-volver {
    background-color: rgb(190, 140, 190);
    color: white;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 30px;
  }
  
  .btn-volver:hover {
    background-color:#8461a8;
  }
  
  .input {
    border-radius: 20px !important;
    box-shadow: inset -4px -4px 10px 1px #8461a8;
  }
  
